position: relative
top: 50%
left: 50%
tranform: translate(-50%, -50%)
max-width: 90%
width: 600px
margin: 0 !impórtant;
.elemento {
translate: 50px 20px;
}
translate: -30px -10px;
translate: 100% 0;
 .elemento 